.mark {
    position: absolute;
    &__left {
        position: absolute;
        top: 7rem;
        left: 18%;
        border: 1px solid #397DFF;
        border-radius: 100%;
        width: 7.3rem;
        height: 7.3rem;
        @media screen and (max-width: 768px) {
            top: 1rem;
            left: 14%;
            width: 4rem;
            height: 4rem;
        }
    }

    &__right {
        position: absolute;
        top: 7rem;
        right: 20%;
        border: 1px solid #397DFF;
        border-radius: 100%;
        width: 7.3rem;
        height: 7.3rem;
        @media screen and (max-width: 768px) {
            top: 1rem;
            right: 14%;
            width: 4rem;
            height: 4rem;
        }
    }

    &__circle {
        background: #397DFF;
        border: 1px solid #397DFF;
        position: absolute;
        border-radius: 100%;
        width: 2.7rem;
        height: 2.7rem;
        left: 30%;
        top: 2rem;
        @media screen and (max-width: 768px) {
            width: 1.7rem;
            height: 1.7rem;
            left: 30%;
            top: 1rem;
        }

        &:nth-of-type(1) {
            background: transparent;
        }

        &--form {
            position: static;
            background: #397DFF !important;
            width: 7.6rem;
            height: 7.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__plus {
        display: flex;
        justify-content: center;
        padding-top: 0.6rem;
        @media screen and (max-width: 768px) {
            padding-top: 0.2rem;
        }
    }

    &__active {
        display: flex;
        flex-flow: row wrap;
        background: #ffffff;
        width: 35rem;
        height: 20rem;
        position: absolute;
        padding: 60%;
        border-radius: 1rem;
        top: -20.5rem;
        left: -16.5rem;
        z-index: 999;
        visibility: hidden;
        transition: all 1s ease-out;
        @media screen and (max-width: 1120px) {
            
        }
        @media screen and (max-width: 768px) {
            width: 32.3rem;
            left: -20.5rem;
            padding: 70%;
        }
    }

    &__title {
        font-size: 1.8rem;
        padding: 0;
        margin: 0;
        height: 5rem;
        width: 75%;
    }

    &__icon {
        height: 4rem;
    }

    &__p {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;
    }

    &__list {
        padding: 0;
        margin: 0;
        padding-left: 5%;
        z-index: 2;
        @media screen and (max-width: 768px) {
            padding-left: 7%;
        }
    }

    &__item {
        list-style: url('../img/ellipse.png');
    }

    &__triangle {
        position: absolute;
        width: 28px;
        height: 20px;
        left: 162px;
        top: 184px;
        background: #FFFFFF;
        border-radius: 2px;
        transform: rotate(45deg);
        z-index: 1;
        @media screen and (max-width: 768px) {
            left: 195px;
        }
    }

    &__speak-left {
        position: absolute;
        top: -1rem;
        left: 0.5rem;
        @media screen and (max-width: 768px) {
            top: .6rem;;
            left: 1.2rem;
            width: 2rem;
            height: 2.5rem;
        }
    }

    &__speak-right {
        position: absolute;
        top: -1rem;
        @media screen and (max-width: 768px) {
            width: 2rem;
            height: 2.5rem;
            top: .6rem;
            right: 1rem;
        }
    }

    &--form {
        position: static;
        height: 16rem;
        width: 16rem; 
        background: #F2F4F7;
        border: 1px solid #397DFF;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper-speak {
    position: relative;
}